// 현정님 건강정보 페이지 scss

//이현정 - main

.healthCare-body {
  background: url(../images/healthCarePage_images/healthcare_img.png) no-repeat;
}

.header-width {
  height: 100px;
  background: rgba($color: $Gray_C7, $alpha: 0.5);
}

.healthcare-wrap {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

//공통사항
.sec-tit {
  @include Bold-30;
}
.more-tit {
  @include Regular-18;
}

// 사이드메뉴
.sidemenubar {
  //   background: rgba($color: lightblue, $alpha: 0.3);
  background: $white;
  width: 237px;
  height: 3248px; //나중에 calc로 계산
  padding-top: 147px;
  border-left: 1px solid $Gray_C7;
  border-right: 1px solid $Gray_C7;
  .sec-tit {
    color: $secondary_B5;
    padding-left: 104px;
    padding-bottom: 22px;
  }
}
.menu-box {
  width: 237px;
  height: 56px;
  border-top: 1.5px solid $Gray_C7;

  a {
    @include Bold-20;
    padding: 15px 34px 15px 0;
    text-align: right;
    display: block;
  }
}

.menu-box-btm {
  border-bottom: 1.5px solid $Gray_C7;
}

.menu-box-bg {
  background: $primary;
  a {
    color: $white;
  }
}
.menu-box-sub {
  width: 235px;
  height: 319px;
  padding: 28px 0;
  text-align: right;
  background: $Gray_BW;
  li {
    height: 35px;
  }
  a {
    height: 100%;
    padding-right: 36px;
    display: block;
    @include SemiBold-16;
  }
}
.bnr-container {
  width: 198px;
  height: 356px;
  margin: 20px auto;
  img {
    width: 100%;
    height: auto;
  }
}

// 건강정보 내용

.contents-wrap {
  width: 1043px;
  margin-left: 77px;
}

// 질환정보 - 제목과 검색창

.sec-disease-tab {
  margin-top: 203px;
  width: 955px;
  height: 395px;
  background: rgba($color: lightblue, $alpha: 0.3);
  .sec-tit {
    padding: 7px 0;
  }
}

.sec-tit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  .search {
    width: 235px;
    height: 40px;
    background: $Gray_BW;
    border: 2px solid rgba($primary, 0.1);
    border-radius: 10px;
    color: $Gray_C7;
    @include Regular-13;
    padding-left: 14px;
    &:focus {
      outline: none;
      border: 2px solid rgba($primary, 0.7);
    }
    &::before {
      content: "\f002";
      font-family: "Line Awesome Free";
      font-weight: 900;
    }
  }
}

// 질환정보 - tab박스
.tab-tit {
  margin-top: 25px;
  p {
    border: 0.8px solid $Gray-C7;
    border-radius: 4px;
    padding: 15px 0;
    width: 480px;
    height: 45px;
    text-align: center;
    display: block;
    @include Bold-16;
    color: $Gray_88;
  }
}

.tab-tit {
  p {
    background: $primary;
    color: $white;
    border: none;
  }
}

.tab-box {
  background: $primary;
  margin-top: -4px;
  width: 955px;
  height: 274px;
  border-radius: 4px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 37px;
    padding-left: 29px;
  }
  li {
    width: 207px;
    height: 53px;
    background: $white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    a {
      display: block;
      padding: 14px 0;
      @include SemiBold-18;
      color: $Gray_55;
    }
  }
}

// 질환정보 탭
.tab-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tab-category {
  display: none;
}

// 많이찾는 질환정보
.sec-disease {
  background: rgba($color: lightcoral, $alpha: 0.5);
  width: 965px;
  height: 638px;
  margin-top: 43px;
}
.sub-tit {
  h3 {
    @include SemiBold-26;
  }
}

.disease-card-container {
  width: 965px;
  height: 589px;
  background: rgba($color: lightgray, $alpha: 0.5);
  margin-top: 13px;
  border-top: 1px solid $Gray_55;
  border-bottom: 1px solid $Gray_55;
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  padding: 44px 2px;
  justify-content: center;
}

.disease-card {
  .img-box {
    width: 208px;
    height: 183px;
    background: $white;
    border: 1px solid $Gray-C7;
  }
  a,
  img {
    width: 100%;
    height: 100%;
  }

  span {
    width: 208px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include Bold-16;
    margin-top: 16px;
  }
}

// 의약품정보
.sec-search {
  width: 965px;
  height: 280px;
  margin-top: 55px;
  background: rgba($color: lightblue, $alpha: 0.5);
}
.search-box-container {
  width: 967px;
  height: 204px;
  margin-top: 26px;
  display: flex;
  background: $primary;
  justify-content: center;
  align-items: center;

  .sub-tit {
    @include SemiBold-20;
    color: $white;
    margin-right: 20px;
  }
  .search-box {
    width: 480px;
    height: 50px;
    background: $Gray_BW;
    border: none;
    @include Regular-16;
    color: $Gray-C7;
    padding-left: 20px;
  }
  .search-btn {
    width: 80px;
    height: 50px;
    text-align: center;
    background: $secondary_B2;
    @include SemiBold-18;
    line-height: 50px;
    margin-left: 4px;
    color: $white;
  }
}

// 영양정보

.sec-nutritions {
  width: 967px;
  height: 480px;
  background: rgba($color: lightblue, $alpha: 0.5);
  margin-top: 68px;
  .sec-tit-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
  }
}

.nutritions-card {
  .img-box {
    width: 300px;
    height: 279px;
  }
  a,
  img {
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
  }
  .tit {
    margin-top: 21px;
    @include Bold-16;
  }
  .date {
    margin-top: 34px;
    @include Regular-13;
  }
}

// 건강TV
.sec-healthtv {
  margin-top: 65px;
  width: 967px;
  height: 400px;
  background: rgba($color: lightcoral, $alpha: 0.5);
  .sec-tit {
    padding-bottom: 30px;
  }
}
.tv-img-box {
  width: 460px;
  height: 258px;
  a,
  img {
    width: 100%;
    height: 100%;
  }
}
