// 현정님 건강정보 페이지 scss

//이현정 - main

.healthCare-body {
  //   background: url(../images/healthCarePage_images/healthcare_img.png) no-repeat
  // center;
}

// 헤더 display:none
// .hd-wrap {
//   display: none;
// }
// 레이아웃 - Pc

.healthcare-wrap {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
// 모바일 숨기는 항목
.titbox-mb {
  display: none;
}
.sec-tit-mb {
  display: none;
}
.more-tit-mb {
  display: none;
}

//공통사항
.sec-tit {
  @include Bold-30;
}
.more-tit {
  @include Regular-16;
  a {
    color: $Gray_88;
    position: relative;
    padding-right: 20px;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "\f105";
      position: absolute;
      top: 11%;
      right: 0;
      font-family: "Line Awesome Free";
      font-weight: 900;
      font-size: 19px;
    }
  }
}
.sec-tit-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 30px;
}
// 사이드메뉴
.sidemenubar {
  //   background: rgba($color: lightblue, $alpha: 0.3);
  background: $white;
  width: 235px;
  height: 3248px; //나중에 calc로 계산
  padding-top: 147px;
  border-left: 1px solid $Gray_C7;
  border-right: 1px solid $Gray_C7;
  margin-right: 6%;

  .sec-tit {
    color: $secondary_B5;
    padding-left: 104px;
    padding-bottom: 22px;
  }

  .sidemenubar-container {
    position: absolute;
    top: 230px;
    transition: all 0.5s ease-in-out;
  }

  .menu-box {
    width: 234px;
    height: 56px;
    border-top: 1.5px solid $Gray_C7;

    a {
      @include Bold-20;
      padding: 15px 34px 15px 0;
      text-align: right;
      display: block;
    }
  }

  .menu-box-btm {
    border-bottom: 1.5px solid $Gray_C7;
  }

  .menu-box-bg {
    background: $primary;
    border-bottom: 1.5px solid $Gray_C7;

    a {
      color: $white;
    }
  }
  .menu-box-md,
  .menu-box-btm {
    &:hover {
      background: $primary;
      a {
        color: $white;
      }
    }
  }
  .menu-box-sub {
    width: 233px;
    height: 319px;
    padding: 28px 0;
    text-align: right;
    background: $Gray_BW;
    li {
      height: 35px;
    }
    a {
      height: 100%;
      padding-right: 36px;
      display: block;
      @include SemiBold-16;
      &:hover {
        color: $secondary_B4;
        text-decoration: underline;
      }
    }
  }
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25%,
    75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  .bnr-container {
    width: 198px;
    height: 356px;
    margin: 20px auto;
    background: $sidebnr-bg;
    &:hover {
      img {
        &:nth-child(2) {
          animation: shake 0.3s ease infinite;
        }
      }
    }
  }

  .bnr-icon {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
    img {
      &:first-child {
        width: 79px;
        height: 86px;
      }
      &:nth-child(2) {
        width: 43px;
        height: 40px;
        margin-top: 3px;
        margin-left: -6px;
      }
    }
  }

  .bnr-text {
    @include Bold-30;
    line-height: 38px;
    text-align: center;
    p {
      padding-top: 25px;
      &:first-child {
        color: $sidebnr-text;
      }
      &:nth-child(2) {
        padding-top: 25px;
        color: $white;
      }
    }
  }
}

// 건강정보 내용

.contents-wrap {
  //   max-width: 950px;
  //   flex-grow: 1;
  width: calc(100% - 235px - 81px);
  margin: 0 auto;
}

// 질환정보 - PC - 제목과 검색창

.sec-disease-tab {
  margin-top: 30%;
  position: relative;
  height: 402px;
  margin-bottom: 13%;
  .sec-tit {
    padding: 7px 0;
  }

  .sec-tit-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 30px;
  }
}
.sec-disease-tab {
  .search-box {
    width: 205px;

    .search {
      width: 100%;
      height: 40px;
      background: $Gray_BW;
      border: 2px solid rgba($primary, 0.1);
      border-radius: 10px;
      @include Regular-13;
      padding-left: 14px;
      &::placeholder {
        color: $Gray_C7;
      }

      &:focus {
        outline: none;
        border: 2px solid rgba($primary, 0.7);
        &::placeholder {
          color: transparent;
        }
      }
    }
    form {
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        cursor: pointer;
        content: "\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 800;
        font-size: 25px;
        color: $primary;
        transform: translateY(-50%);
        opacity: 0.7;
      }
    }
  }

  // 질환정보 - PC - tab박스

  .disease-tab-container {
    display: flex;
  }

  .sec-tabs {
    width: 50%;
  }
  .tab-tit {
    @include tab-tit;
    cursor: pointer;
    p {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .tab-box {
    display: none;
    position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    background: $primary;
    margin-top: -4px;
    border-radius: 4px;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin: 4% 0;
    }
    li {
      width: 21%;
      background: $white;
      text-align: center;
      border-radius: 10px;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
      a {
        display: block;
        padding: 8% 0;
        @include SemiBold-18;
        color: $Gray_55;
        &:hover {
          color: $secondary_B4;
          text-decoration: underline;
        }
      }
    }
  }

  .sec-tabs {
    &.active {
      .tab-tit {
        @include tab-tit-active;
        p {
          text-decoration: none;
        }
      }
      .tab-box {
        display: block;
      }
    }
  }

  .sec-tabs {
    .tab-box {
      li {
        transition: all 0.2s ease-in-out;
        &.active {
          background: $secondary_B5;
          a {
            color: $white;
          }
        }
      }
    }
  }
}

// 많이찾는 질환정보
.sec-disease {
  margin-top: $subhc-margin-top;
  .sec-tit {
    color: $secondary_B5;
  }

  .disease-card-container {
    margin-top: 20px;
    border-top: 2px solid rgba($Gray_55, $alpha: 0.7);
    border-bottom: 1px solid rgba($Gray_55, $alpha: 0.7);
    display: flex;
    flex-wrap: wrap;
    padding: 4% 0 0;
    justify-content: space-between;
  }

  .disease-card {
    width: 22%;
    margin-bottom: 6%;
    // height: 220px;
    // margin-bottom: 40px;

    &:hover {
      img {
        transform: scale(1.2);
      }
      span {
        color: $secondary_B4;
        text-decoration: underline;
      }
    }
    .img-box {
      background: $white;
      border: 1px solid rgba($color: $Gray_C7, $alpha: 0.7);
      display: inline-block;
      border-radius: 2px;
    }

    a {
      display: block;
      width: 100%;
    }
    img {
      display: block;
      width: 93%;
      object-fit: cover;
      margin: 3% auto;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include Bold-16;
      margin-top: 16px;
      cursor: pointer;
    }
  }
}

// 의약품검색
.sec-search {
  //   max-width: 965px;
  height: 290px;
  margin-top: $subhc-margin-top;

  .sec-search-container {
    height: 215px;
    margin-top: 26px;
    display: flex;
    background: $primary;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 0px 15%;

    .sub-tit {
      width: 130px;
      @include SemiBold-20;
      color: $white;
      margin-right: 7px;
    }
    .search-box {
      width: 70%;
    }

    .search {
      width: 100%;
      height: 50px;
      background: $Gray_BW;
      border-radius: 1px;
      border: none;
      @include Regular-16;
      padding-left: 3%;
      &::placeholder {
        color: $Gray-C7;
      }
      &:focus {
        outline: none;

        &::placeholder {
          color: transparent;
        }
      }
    }
    .search-btn {
      width: 80px;
      height: 50px;
      text-align: center;
      background: $secondary_B2;
      border-radius: 1px;
      @include SemiBold-18;
      line-height: 50px;
      margin-left: 4px;
      color: $white;
      cursor: pointer;
    }
  }
}

// 영양정보
.sec-nutritions {
  display: block;
  margin-top: $subhc-margin-top;
  .nutritions-card {
    img {
      width: 100%;
      border-radius: 4px;
    }
    span {
      display: block;
    }
    .tit {
      height: 40px;
      margin-top: 21px;
      @include Bold-16;
    }
    .date {
      margin-top: 14px;
      @include Regular-13;
    }
  }
}
// 건강TV
.sec-healthtv {
  margin-top: $subhc-margin-top;
  .swiper-slide {
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
}

//나만의 건강코치

.sec-coach {
  margin-top: $subhc-margin-top;

  .sec-tit-container {
    justify-content: center;
    .more-tit {
      display: none;
    }
  }
  .slick-list {
    // padding: 0;
  }
  .slick-slide {
    margin: 0 0.25%;
  }
  .slide-coach-wrapper {
    width: 94%;
    margin: 2% auto 0;
    .coach-card {
      padding: 20% 0;
      background: $coach-card-bg;
      //   box-sizing: border-box;
      text-align: center;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      span {
        @include SemiBold-22;
        font-weight: 700;
        margin-top: 8%;
        display: block;
      }
      p {
        @include Medium-16;
        font-weight: 400;
        margin-top: 16px;
        color: $Gray_88;
        line-height: 23px;
        text-align: center;
      }
    }
    .coach-text-container {
      .text-mb {
        display: none;
      }
    }
    .icon-box {
      width: 120px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slick-prev {
      &::before {
        content: "\f053";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 36px;
        color: rgba($color: $primary, $alpha: 0.3);
      }
    }
    .slick-next {
      &::before {
        content: "\f054";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 36px;
        color: rgba($color: $primary, $alpha: 0.3);
      }
    }
  }

  //
  //
}

// 반응형 - pc(1280)
@media screen and (max-width: $breakpoint-xl) {
  .sidemenubar {
    display: none;
  }
  .healthcare-wrap {
    margin: 0 5%;
    .contents-wrap {
      width: 100%;
      margin: 0 auto;
    }
  }
}

// 반응형 - tablet(992)
@media screen and (max-width: $breakpoint-lg) {
}
// 반응형 - tablet(768)
@media screen and (max-width: $breakpoint-md) {
  .sec-disease-tab {
    .tab-box li {
      width: 27%;
    }
  }
  .sec-disease {
    .disease-card-container {
      justify-content: flex-start;
      gap: 3.5%;
    }
    .disease-card {
      width: 31%;
    }
  }
  .sec-search {
    .sec-search-container {
      padding: 0 9%;
    }
  }
}
// 반응형 - 모바일(576)
@media screen and (max-width: $breakpoint-sm) {
  .healthCare-body {
    // background: url(../images/healthCarePage_images/healthcare_img_mb.png) 50% 0
    //   no-repeat;
    margin-top: 110px;
  }

  .titbox-mb {
    display: block;
    height: 45px;
    background: $Gray_E3;
    text-align: center;
    padding: 10px 0;
    @include Bold-18;
    &::before {
      content: "\f104";
      position: absolute;
      top: 13.5%;
      left: 8%;
      font-family: "Font Awesome 6 Free";
      font-size: 22px;
      color: $Gray_55;
    }
  }

  // 모바일 공통항목
  .sec-tit-mb,
  .sec-tit {
    display: block;
    @include Bold-20;
  }
  .sec-tit-container {
    padding-bottom: 0;
    margin-bottom: 5%;
  }
  .more-tit-mb {
    display: block;
    @include Regular-16;
  }

  //컨텐츠

  .sec-disease-tab {
    margin-top: 15%;
    margin-bottom: 0;
    height: 4%;
    .sec-tit-container {
      position: relative;
      display: block;
      padding-bottom: 0;
    }
    .sec-tit {
      display: none;
    }
    .tit-mb-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 5%;
    }
    .disease-tab-container {
      display: none;
    }
    .search-box {
      width: 87%;
      margin-top: 5%;
      display: flex;
      position: relative;

      .search {
        border: 2px solid $primary;
        border-radius: 2px;
      }
      form {
        position: static;
        width: 100%;
        &::after {
          background: $primary;
          width: 40px;
          height: 40px;
          top: 50%;
          left: 101%;
          color: $white;
          opacity: 1;
          text-align: center;
        }
      }
    }
  }
  .sec-disease {
    height: 445px;
    .disease-card-container {
      border: none;
      gap: 5.5%;
      padding: 0;
      justify-content: center;
      height: 90%;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
      }
      &::-webkit-scrollbar-track {
        background-color: $Gray_E3;
      }
    }
    .disease-card {
      width: 45%;
    }
  }
  .sec-search {
    background: $primary;
    height: 190px;
    .sec-tit {
      padding: 28px 0 0 5%;
      color: $white;
    }
    .sec-search-container {
      height: auto;
      padding: 0 5%;
      .sub-tit {
        display: none;
      }
      .search-box {
        width: 110%;
      }
      .text-pc {
        display: none;
      }
      .text-mb {
        display: block;
      }
    }
  }
  .sec-nutritions {
    .nutritions-card {
      width: 100%;
      margin: 0 auto;

      a {
        display: block;
        height: 272px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .tit {
        height: 40px;
      }
    }
  }
  .sec-healthtv {
    .tv-img-box {
      a {
        display: block;
        height: 100%;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .sec-coach {
    .sec-tit-container {
      justify-content: space-between;
      .more-tit {
        display: block;
      }
    }
    .slick-slide {
      margin: 0 0.1% 0;
    }

    .slide-coach-wrapper {
      width: 100%;

      .icon-box {
        width: 23%;
        height: 23%;
      }

      .coach-card {
        padding: 5% 5%;
        flex-direction: row;
        align-items: center;

        .coach-text-container {
          width: 70%;
          text-align: left;
          margin-left: 20px;
          padding: 4% 0;
          span {
            @include Bold-20;
            margin: 0;
          }
          .text-pc {
            display: none;
          }
          .text-mb {
            display: block;
            text-align: left;
            @include Regular-13;
            margin-top: 10px;
            // letter-spacing: -0.6px;
          }
        }
      }
    }
  }
}
