// 현정님 건강정보 페이지 scss

//이현정 - main

// .healthCare-body {
//   background: url(../images/healthCarePage_images/healthcare_img.png) no-repeat;
// }

.header-width {
  height: 100px;
  background: rgba($color: $Gray_C7, $alpha: 0.5);
}

.healthcare-wrap {
  display: flex;
  width: 1280px;
  margin: 0 auto;
}

//공통사항
.sec-tit {
  @include Bold-30;
}
.more-tit {
  @include Regular-18;
}

// 사이드메뉴
.sidemenubar {
  //   background: rgba($color: lightblue, $alpha: 0.3);
  background: $white;
  width: 237px;
  height: 3248px; //나중에 calc로 계산
  padding-top: 147px;
  border-left: 1px solid $Gray_C7;
  border-right: 1px solid $Gray_C7;
  .sec-tit {
    color: $secondary_B5;
    padding-left: 104px;
    padding-bottom: 22px;
  }
}
.menu-box {
  width: 237px;
  height: 56px;
  border-top: 1.5px solid $Gray_C7;

  a {
    @include Bold-20;
    padding: 15px 34px 15px 0;
    text-align: right;
    display: block;
  }
}

.menu-box-btm {
  border-bottom: 1.5px solid $Gray_C7;
}

.menu-box-bg {
  background: $primary;
  a {
    color: $white;
  }
}
.menu-box-sub {
  width: 235px;
  height: 319px;
  padding: 28px 0;
  text-align: right;
  background: $Gray_BW;
  li {
    height: 35px;
  }
  a {
    height: 100%;
    padding-right: 36px;
    display: block;
    @include SemiBold-16;
  }
}
.bnr-container {
  width: 198px;
  height: 356px;
  margin: 20px auto;
  img {
    width: 100%;
    height: auto;
  }
}

// 건강정보 내용

.contents-wrap {
  width: 1043px;
  margin-left: 77px;
}

// 질환정보 - 제목과 검색창

.sec-disease-tab {
  margin-top: 203px;
  width: 955px;
  height: 395px;
  .sec-tit {
    padding: 7px 0;
  }
}

.sec-tit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box {
  .search {
    width: 235px;
    height: 40px;
    background: $Gray_BW;
    border: 2px solid rgba($primary, 0.1);
    border-radius: 10px;
    color: $Gray_C7;
    @include Regular-13;
    padding-left: 14px;
    &:focus {
      outline: none;
      border: 2px solid rgba($primary, 0.7);
    }
    &::before {
      content: "\f002";
      font-family: "Line Awesome Free";
      font-weight: 900;
    }
  }
}

// 질환정보 - tab박스

.disease-tab-container {
  display: flex;
  position: relative;
}

.sec-tabs {
  width: 50%;
}
.tab-tit {
  @include tab-tit;
}

.tab-part,
.tab-category {
  &.active {
    .tab-tit {
      @include tab-tit-active;
    }
  }
}

.tab-box {
  position: relative;
  background: $primary;
  margin-top: -4px;
  width: 958px;
  height: 274px;
  border-radius: 4px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 37px;
    padding-left: 29px;
  }
  li {
    width: 207px;
    height: 53px;
    background: $white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    a {
      display: block;
      padding: 14px 0;
      @include SemiBold-18;
      color: $Gray_55;
    }
  }
}

.tab-category {
  .tab-box {
    transform: translateX(-478px);
  }
}

// 많이찾는 질환정보
.sec-disease {
  width: 965px;
  height: 638px;
  margin-top: $subhc-margin-top;
}
.sub-tit {
  h3 {
    @include SemiBold-26;
    font-weight: 700;
  }
}

.disease-card-container {
  width: 950px;
  margin-top: 20px;
  border-top: 2px solid $Gray_55;
  border-bottom: 1px solid $Gray_55;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px 0px;
  justify-content: center;
}

.disease-card {
  width: 196px;
  height: 220px;
  .img-box {
    width: 190px;
    height: 168px;
    background: $white;
    border: 1px solid $Gray-C7;
  }
  a,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  span {
    width: 208px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include Bold-16;
    margin-top: 16px;
  }
}

// 의약품검색
.sec-search {
  width: 965px;
  height: 290px;
  margin-top: $subhc-margin-top;
}
.search-box-container {
  width: 967px;
  height: 215px;
  margin-top: 26px;
  display: flex;
  background: $primary;
  justify-content: center;
  align-items: center;

  .sub-tit {
    @include SemiBold-20;
    color: $white;
    margin-right: 20px;
  }
  .search-box {
    width: 480px;
    height: 50px;
    background: $Gray_BW;
    border: none;
    @include Regular-16;
    color: $Gray-C7;
    padding-left: 20px;
  }
  .search-btn {
    width: 80px;
    height: 50px;
    text-align: center;
    background: $secondary_B2;
    @include SemiBold-18;
    line-height: 50px;
    margin-left: 4px;
    color: $white;
  }
}

// 영양정보

.sec-nutritions {
  display: block;
  width: 967px;
  height: 450px;
  margin-top: $subhc-margin-top;
  overflow: hidden;
  .sec-tit-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
  }
}

.swiper-nutritions {
  padding: 0 5px;
  width: 967px;
  height: 440px;
  .swiper-wrapper {
    display: flex;
  }
  .nutritions-card {
    .img-box {
      width: 300px;
      height: 279px;
    }
    a,
    img {
      width: 100%;
      height: 100%;
    }
    span {
      display: block;
    }
    .tit {
      width: 300px;
      height: 40px;
      margin-top: 21px;
      @include Bold-16;
    }
    .date {
      margin-top: 14px;
      @include Regular-13;
    }
  }
}

// 건강TV
.sec-healthtv {
  margin-top: $subhc-margin-top;
  width: 967px;
  height: 370px;
  //   background: rgba($color: lightblue, $alpha: 0.7);
  .sec-tit {
    padding-bottom: 30px;
  }
}

.tv-img-box {
  margin: 0 auto;
  //   width: 460px;
  //   height: 258px;
  a,
  img {
    width: 100%;
    height: 100%;
  }
}

//나만의 건강코치

.sec-coach {
  width: 965px;
  height: 480px;
  margin-top: $subhc-margin-top;
  //   background: rgba($color: lightblue, $alpha: 0.7);
}

.swiper-coach {
  height: 470px;
  a {
    display: block;
    width: 295px;
    height: 386px;
    margin-top: 30px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: rgba($color: $Gray_88, $alpha: 0.5);
  }
}
