// 가영님 메인페이지 scss

// section1(메인베너)
.sec-g {
  position: relative;
}
.slide-intro {
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
}

//모바일576px
@media screen and (min-width: 576px) {
  .sec-g {
    position: relative;
  }
  .slide-intro {
    width: 100vw;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
    }
  }
}
//데스크탑768px
@media screen and (min-width: 768px) {
  .sec-g {
    position: relative;
  }
  .slide-intro {
    width: 100vw;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
    }
  }
}
//데스크탑992px
@media screen and (min-width: 992px) {
  .sec-g {
    position: relative;
  }
  .slide-intro {
    width: 100vw;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.7;
    }
  }
}

//section2(메인베너 위 서비스 바로가기)
//박스 공통 속성
.servicebox_wrapper {
  width: 100%;
  max-width: 1280px; //반응형
  position: absolute;
  display: flex;
  top: 0;
  left: 50%;
  transform: translate(-50%, -130%);
  z-index: 1;
  span {
    @include SemiBold-24;
  }

  .servicebox {
    width: 25%;
    height: 300px;
    margin-right: 16px;
    border-radius: 10px;
    color: $white;
    a {
      display: inline-block;
      color: $white;
      padding: 9.5px 18px;
      border: 1px solid $white;
      text-align: center;
    }
    a:hover {
      color: $black;
      background-color: $white;
    }
    .box3-button {
      padding: 9.5px 60px;
    }
  }
  .service-text {
    margin-bottom: 100px;
  }

  //박스 개별 속성
  .servicebox1.show {
    background-color: $secondary_B4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(0);
  }
  .servicebox1 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 3s ease-out, transform 2s ease-out;
  }

  .servicebox2.show {
    background-color: $secondary_B3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
  }
  .servicebox2 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 3s ease-out, transform 2s ease-out;
  }

  .servicebox3.show {
    background-color: $secondary_B2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transform: translateY(0);
  }
  .servicebox3 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 3s ease-out, transform 2s ease-out;
  }

  .servicebox4.show {
    background-color: $white;
    display: block;
    border-color: $Gray_C7;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(0);

    .loginbox1 .non-member-text {
      color: $secondary_B1;
      @include SemiBold-24;
    }
    .loginbox1 .member-text {
      color: $black;
      @include SemiBold-24;
    }
    .loginbox1 a:hover {
      text-decoration: underline;
    }
    .loginbox2 a {
      color: $black;
    }
    .loginbox2 a:hover {
      text-decoration: underline;
    }
    .inputbox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      input {
        padding: 12px 0;
        width: 239px;
        margin-top: 7px;
      }
    }
    button {
      background-color: $secondary_B4;
      color: $white;
      padding: 12px 94px;
      margin-bottom: 18px;
    }
  }
  .servicebox4 {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 3s ease-out, transform 2s ease-out;
  }
}
//모바일576px
@media screen and (max-width: 576px) {
  .servicebox_wrapper {
    width: 100%;
    max-width: 576px; //반응형
    position: absolute;
    z-index: 1;
    span {
      @include Bold-13;
    }
    .service-info {
      display: none;
    }
    .servicebox {
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
      border-radius: 10px;
      color: $white;
      a {
        display: inline-block;
        color: $white;
        padding: 9.5px 18px;
        border: 1px solid $white;
        text-align: center;
      }
      a:hover {
        color: $black;
        background-color: $white;
      }
      .box3-button {
        padding: 9.5px 60px;
      }
    }
    .service-text {
      margin-bottom: 100px;
    }

    //박스 개별 속성
    .servicebox1.show {
      background-color: $secondary_B4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transform: translateY(0);
    }
    .servicebox1 {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 3s ease-out, transform 2s ease-out;
    }

    .servicebox2.show {
      background-color: $secondary_B3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 1;
      transform: translateY(0);
    }
    .servicebox2 {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 3s ease-out, transform 2s ease-out;
    }

    .servicebox3.show {
      background-color: $secondary_B2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 1;
      transform: translateY(0);
    }
    .servicebox3 {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 3s ease-out, transform 2s ease-out;
    }

    .servicebox4.show {
      background-color: $white;
      display: block;
      border-color: $Gray_C7;
      color: $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transform: translateY(0);

      .loginbox1 .non-member-text {
        color: $secondary_B1;
        @include SemiBold-24;
      }
      .loginbox1 .member-text {
        color: $black;
        @include SemiBold-24;
      }
      .loginbox1 a:hover {
        text-decoration: underline;
      }
      .loginbox2 a {
        color: $black;
      }
      .loginbox2 a:hover {
        text-decoration: underline;
      }
      .inputbox {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        input {
          padding: 12px 0;
          width: 239px;
          margin-top: 7px;
        }
      }
      button {
        background-color: $secondary_B4;
        color: $white;
        padding: 12px 94px;
        margin-bottom: 18px;
      }
    }
    .servicebox4 {
      opacity: 0;
      transform: translateY(60px);
      transition: opacity 3s ease-out, transform 2s ease-out;
      .inputbox,
      .loginbox2,
      button {
        display: none;
      }
    }
  }
}

//데스크탑768px
@media screen and (max-width: 768px) {
  .servicebox_wrapper {
    display: flex;
    flex-direction: column;
  }
}
//데스크탑992px
@media screen and (max-width: 992px) {
}

//section3(공지글)
.sec3 {
  background: $primary;
  width: 100%;
  height: 390px;

  a {
    display: block;
    text-align: center;
  }
  .slick-slide {
    position: relative;
  }
  .slick-slide a:nth-child(2) {
    @include SemiBold-18;
    margin: 15px 0px;
  }
  .slick-slide a:nth-child(3) {
    @include Regular-13;
    margin-top: 30px;
  }
  .slick-slide a:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 3px;
  }
}
h2 {
  @include Bold-48;
}

.notice-wrapper {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  .slick-slide {
    border-radius: 5px;
    border: 2px solid $black;
  }
  .slick-slide:hover {
    border: 4px solid $secondary_B5;
  }
  .notice {
    width: 70px;
    height: 40px;
    background-color: $secondary_B5;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice-text {
    width: 328px;
    height: 260px;
    color: $white;
    margin-top: 77px;
  }
  .slide-notice {
    margin-top: 77px;
    position: absolute;
    left: calc(50% - 312px);
    right: 0;
    .slick-prev {
      left: -315px;
      transform: translateY(283%);
    }
    .slick-next {
      left: -246px;
      transform: translateY(283%);
    }
    .slick-prev::before,
    .slick-next::before {
      font-size: 50px;
    }
  }

  .number {
    color: $Gray_88;
    @include Regular-13;
  }
}
.slide-notice .slick-slide {
  background: $white;
  width: 200px;
  height: 220px;
  margin-right: 15px;
}

//section4(주요서비스)
.sec4-h2 {
  @include Bold-48;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
.sec4 {
  padding: 100px 0;
  margin: 120px auto;
  background-color: $gray_F8;
  max-width: 100%;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  .goto-wrapper {
    margin-top: 20px;
    width: 1280px;
    max-width: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: #d8eaff;
        margin: 0px 18px 0 20px;
      }
      li a:hover {
        background-color: #b8fbff;
        @include SemiBold-20;
      }
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
      img:hover {
        animation: rotateAnimation 0.5s 1 linear;
      }
      @keyframes rotateAnimation {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }
      .doc {
        width: 76px;
      }
    }
  }
}
//모바일576px
@media screen and (min-width: 576px) {
}
//데스크탑768px
@media screen and (min-width: 768px) {
}
//데스크탑992px
@media screen and (min-width: 992px) {
}

//section5(건강tv)
.healthstory-txt {
  text-align: center;
  margin-bottom: 80px;
}
.sec5 {
  margin: auto;
  background: $gray_F8;
  padding-top: 40px;
  .healthtv-slide {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
  h2 {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 16px;
  }
  h3 {
    @include SemiBold-30;
    text-align: left;
    margin-bottom: 30px;
    strong {
      color: $primary;
    }
  }
  .slide-tv {
    width: 100%;
    height: 500px;
    text-align: center;
    img {
      width: 550px;
    }
    p {
      @include SemiBold-24;
      margin-left: 20px;
    }
    a:hover {
      text-decoration: underline;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      transform: translate(35%, -195%);
    }
    .swiper-button-prev {
      position: absolute;
      transform: translate(-45%, -195%);
    }
  }

  .healthinfo-slide {
    max-width: 1280px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    .slide-info {
      width: 100%;
      height: 500px;
      img {
        width: 550px;
        margin: 0px 20px 0px 20px;
      }
      p {
        @include SemiBold-24;
        margin-left: 20px;
      }
      a:hover {
        text-decoration: underline;
      }
      .swiper-button-next {
        transform: translate(40%, -195%);
      }
      .swiper-button-prev {
        transform: translate(-45%, -195%);
      }
    }
  }
}
//모바일576px
@media screen and (min-width: 576px) {
}
//데스크탑768px
@media screen and (min-width: 768px) {
}
//데스크탑992px
@media screen and (min-width: 992px) {
}

//section(last section,오시는길)
.sec6 {
  max-width: 1280px;
  width: 100%;
  height: 900px;
  margin: auto;
  h2 {
    @include SemiBold-30;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 16px;
  }
  .mapbox-txt {
    text-align: center;
  }
  .mabbox-goto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }
  ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
  }
  #map {
    width: 70%;
    background-color: $Gray_C7;
    height: 600px;
    margin-top: 40px;
  }

  .map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .map-img {
      overflow: hidden;
    }
  }
  .map-info {
    width: 70%;
    height: 100px;
    background-color: $primary;
    a {
      padding: 9px 0;
      text-align: center;
      background-color: $secondary_B3;
      display: block;
      width: 140px;
      margin-bottom: 15px;
    }
  }
}
//모바일576px
@media screen and (min-width: 576px) {
}
//데스크탑768px
@media screen and (min-width: 768px) {
}
//데스크탑992px
@media screen and (min-width: 992px) {
}
