.sec1 {
    position: relative;
}
.slide-intro {
    height: 100vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
    }
}
.servicebox_wrapper {
    max-width: $breakpoint-xl;

    display: flex;
    margin: 0 auto;
    gap: 20px;

    color: $white;

    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10000;

    .servicebox {
        width: 304px;
        height: 300px;

        background: pink;

        border-radius: 10px;

        padding: 30px;

        .service-text {
            .service-text-tit {
                @include SemiBold-26;

                padding-top: 8px;
                padding-bottom: 26px;
            }
            :nth-child(2) {
                @include Regular-18;
            }
        }
        .service-btn {
            padding-top: 100px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            a {
                color: $white;
                border: 1px white solid;
                padding : 8px 3%;

                @include Regular-13;
                text-align: center;

                width: 100%;

            }
        }

        &.servicebox1 {
            background: $secondary_B4;
            .service-btn {
                a:hover {
                    background: $white;
                    color: $secondary_B4;
                }
            }
        }
        &.servicebox2 {
            background: $secondary_B3;
            .service-btn {
                a:hover {
                    background: $white;
                    color: $secondary_B3;
                }
            }
        }
        &.servicebox3 {
            background: $secondary_B2;
            .service-btn {
                a:hover {
                    background: $white;
                    color: $secondary_B2;
                }
            }
        }
        &.servicebox4 {
            background: $white;
            

            .loginbox1 {
                display: flex;
                align-items: center;

                gap: 8px;

                @include SemiBold-26;

                margin-bottom: 26px;

                .non-member-text {
                    color : $secondary_B1;
                }
                p {
                    color: $Gray_C7;
                    @include Regular-16;
                }
            }
            .inputbox {
                margin-bottom: 9px;

                input {
                    height: 40px;
                    width: 100%;
                    margin-bottom: 9px;

                    border: .8px solid $Gray_C7;
                    padding-left: 5px;

                    ::placeholder {
                        @include Regular-16;
                    }
                }
            }
            .loginbox2 {
                @include Regular-13;

                color: $Gray_C7;

                display: flex;
                justify-content: center;
                gap: 8px;

                margin-bottom: 28px;
            }
            button {
                width: 100%;
                color: $white;
                background: $secondary_B4;
                height: 35px;
            }
        }
    }
}

.sec2 {
    background: $primary;

    position: relative;
    
    .notice-wrapper {
        display: flex;

        margin: 0 auto;
        max-width: $breakpoint-xl;

        .notice-text {
            color: $white;
            margin-top: 70px;

            h2 {
                @include Bold-48;
                font-weight: 700;
                margin-bottom: 24px;

                ::after {
                    display: block;
                    content: '+';
                    width: 22px;
                    height: 22px;

                    @include Regular-18;
                    text-align: center;

                    color: white;
                }
            }
            .notice-text-1 {
                @include Regular-16;
            }

        }
        .slide-notice {
            width: 100%;

            .slick-slide {
                display: flex;
            }
        }
        
    }
}

.sec3 {
    margin-top: 35px;
    
    .goto-wrapper {
        max-width: $breakpoint-xl;
        margin: 0 auto;

        margin-top: 80px;
        margin-bottom: 120px;

        .goto-list {
            display: flex;
            gap: 14px;

            li {
                width: 200px;
                height: 200px;

                border-radius: 50%;

                background: $secondary_B6;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a {
                    margin-bottom: 10px;
                }
            }
            li:hover {
                background: $secondary_No;
            }
        }
    }
}

.sec4 {
    max-width: $breakpoint-xl;
    margin: 0 auto;
    
    .healthstory-txt {
        @include Bold-48;
        font-weight: 700;
        
        text-align: center;
        
        margin-top: 142px;
        
        p {
            margin-top: 40px;
            margin-bottom: 54px;
            @include Regular-18;
        }
    }
    
    .health-video {
        display: flex;
        gap: 10px;

        margin-bottom: 190px;

        .healthtv-slide, .healthinfo-slide {
            width: 50%;

            h4 {
                text-align: center;
                margin-bottom: 40px;

                @include SemiBold-26;
            }
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        width: 230px;
                        a {
                            img {
                                width: 230px;
                                height: 130px
                            }
                        };
                    }
                }
            }
        }
    }
}

.sec5 {
    max-width: $breakpoint-xl;
    margin: 0 auto;
    
    .mapbox-txt {
        text-align: center;

        h4 {
            @include Bold-48;
            font-weight: 700;
        }
        p {
            margin-top: 40px;
            margin-bottom: 54px;
            @include Regular-18;
        }
    }

    .mapbox-inner {
        margin-top: 54px;
        margin-bottom: 140px;

        .mapbox-list {
            display: flex;
            justify-content: center;

            margin-bottom: 75px;

            gap: 150px;

            .mapbox-listItem {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    margin-bottom: 20px;
                }
            }
        }

        .mapbox-info {
            #map {
                width: 100%;
                height: 597px;

                background: beige;
            }
            .map-info_inner {
                width: 100%;
                height: 137px;

                background: $primary;

                padding: 20px;

                color: $white;

                display: flex;
                justify-content: space-between;

                .map-info-txt {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .map-tit {
                        @include SemiBold-20;
                    }
                }
                .map-btn {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    a {
                        border: 1px solid $white;
                        color: $white;

                        padding: 10px;
                    }
                }
            }
        }
    }
}