@import "variables", "mixins", "fonts", "resets";


// GNB

#header {
  z-index: 10000;
  width: 100%;
  height: $hd-height;
  border-bottom: 1px solid $Gray_C7;
  position: relative;

  .menu-wrap {
    max-width: $breakpoint-xl;
    height: $hd-height;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#logo {
  display: flex;
  align-items: center;   
  height: $hd-height;

  a {
    text-indent: -9999px;
  }

  &::before {
    content: '';
    display: block;
    width: 160px;
    height: 80px;
    background: url(../images/loginPage_images/logoImages.png) $bg-img;
    background-size: 100%;
  }
}

.gnb_search {
  width: 250px;
  height: 55px;
  border-radius: 50px; 
  background-color: $Gray_BW;
  display: flex;
  justify-content: space-around;
  padding-left: 8px;
  padding-right: 28px;

  .search_bar {
    border: none;
    background: none;

    padding: 10px;
    width: 100%;

    @include Regular-16;

    &::placeholder {
      color: $Gray_C7;
    }

    &:focus {
      outline: none;

      &::placeholder {
        color : transparent
      }
    }
  }

  .search_btn {
    background: none;   
    position: relative;

    &::after {
      content: '\f002';
        display: block;
        box-sizing: border-box;
        font-family: "Font Awesome 6 Free";
        color : $Gray-C7;
        font-weight: 900;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
  }
}

// 메뉴바들


#menu_navi {
  height: $hd-height;

  // position : relative;
  // width: 100%;

  .menu_area {
    height: 100%;

    margin: 0 auto;
    display: flex;

    .mobile {
      display: none; 

      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: auto;
        
        gap: 8px;

        .mypgM::before {
          display: block;
          content: '\f007';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Free";
          width: 25px;
          height: 25px;
        }

        .notice::before {
          display: block;
          content: '\f0f3';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Free";
          width: 25px;
          height: 25px;
        }

        .menusee::before {
          display: block;
          content: '\f0c9';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          width: 25px;
          height: 25px;
        }

        li {
          text-align: center;
          width: 27px;

          padding-left: 2px;

          color: $white;

          .blind {
            text-indent: -9999px;
          }
        }
      }
      
    }
    .wsizewrap {
      display: flex;
      align-items: center;

      flex-wrap: nowrap;
      justify-content: right;

      height: 100px;

      .wsize.mobile {
        display: none;
      }

      .wsize.desktop {
        display: flex;
        justify-content: center;
        align-items: center;

        #menu1, 
        #menu2, 
        #menu3, 
        #menu4, 
        #menu5 {
          margin-left: 20px;
          margin-right: 20px;
  
          padding: 40px 10px 40px 10px;
  
          height: 100px;
  
          color: $Gray_55;
          @include Bold-20;
  
          border-bottom: 3px solid transparent;
  
          &:hover {
            border-bottom: 3px solid $primary;

            transition: transform 0.4s cubic-bezier(0.45, 0.46, 0.05, 0.96);
            
            .clicker:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.smenu_area {
  display: none;
  position: absolute;
  top: 101px;
  left: 50%;
  width: 100%;
  margin-left: -50%;

  background: $white;
  z-index: 10000;

  box-shadow: 0 3px 10px -8px $Gray_E3;

  .section {
    display: flex;
    max-width: $breakpoint-xl;
    min-height: 310px;
    margin: 0 auto;
    text-align: left;

    .gnb_cont {
      width: 20%;

      padding: 20px;

      @include transparent-border-L($Gray_C7, 0.5);
      @include transparent-border-R($Gray_C7, 0.5);
      box-sizing: border-box;

      text-align: center;

      .gnb_cont-tit {
        @include Bold-20;
        color: $primary;
      }
    }

    .gnb {
      width: 80%;

      @include transparent-border-R($Gray_C7, 0.5);
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .gnb-flex {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        .gnb_padding {
          width: 100%;    
          padding: 20px;
          padding-left: 30px;

          @include transparent-border-R($Gray_C7, 0.5);

          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .gnb_margin {
            margin-bottom: 30px;
            color: $black;
            @include Medium-18;

            &:hover {
              color : $primary
            }
          }

          .gnb_depth {
            @include Regular-18;

            color: $Gray_55;

            li {
              margin-bottom: 20px;

              a {
                &:hover {
                  color : $primary
                }
              }
            }
          }
        }
      }
    }
  }
}


// Footer
.sns {
  margin-left: auto;

  padding: 10px;
  padding-right: 0;

  .sns-depth {
    display: flex;

    li {
      display: flex;
      margin-right: 15px;

      &:first-of-type {
        &::before {
          display: block;
          content: '\e61b';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Brands";
          font-weight: 400;
          width: 22px;
          height: 22px;
        }
      }

      &:nth-of-type(2) {
        &::before {
          display: block;
          content: '\f09a';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Brands";
          font-weight: 900;
          width: 22px;
          height: 22px;
        }
      }

      &:last-of-type {
        &::before {
          display: block;
          content: '\f167';
          box-sizing: border-box;
          font-family: "Font Awesome 6 Brands";
          font-weight: 400;
          width: 22px;
          height: 22px;
        }
      }

      a {
        text-indent: -9999px;
      }
    }
  }
}


.ft-wrap {
  background: $secondary_B5;
  color: $white;
}

#footer {
  width: 100%;
  height: $ft-height;
  color: $white;
  padding-top: 32px;

  .inner {
    max-width: $breakpoint-xl;
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    .footer-mobile__wrapper {
      display: none;
    }

    .footer-nav {
      ul {
        display: flex;
        color: $white;
        @include SemiBold-18;
        padding-bottom: 24px;
        border-bottom: 1px solid $white;

        li  {
          a {
            color: $white;
            margin-right: 23px;
          }

        }
      }
    }
  }
}

// 미디어쿼리
// 1280px까지 pc화면인데 약간의 사이즈 조정
@media screen and (max-width:$breakpoint-xl) {
  // 헤더
  #menu_navi {
    .menu_area {
      .wsizewrap {

        .wsize.desktop {
        #menu1, 
        #menu2, 
        #menu3, 
        #menu4, 
        #menu5 {
          margin-left: 10px;
          margin-right: 10px;

          @include Bold-18;
          }
        }
      }
    }
  }
  // 검색창
  .gnb_search {
    width: 230px;
  }
  // 네비게이션 하위메뉴
  .smenu_area {

    .section {
      .gnb_cont {
        .gnb_cont-tit {
          @include Bold-18;
        }
      }

      .gnb {
        .gnb-flex {
          .gnb_padding {
            .gnb_margin {
              @include Medium-16;
            }

            .gnb_depth {
              li {
                a {
                  @include Regular-16;
                }
              }
            }
          }
        }
      }
    }
  }

  // 풋터
  .ft-wrap {
    #footer {
      .inner {
        ul {
          line-height: 20px;

          @include SemiBold-16;
        }
      }
    }
  }
}

// 992px까지 큰 태블릿 화면
@media screen and (max-width:$breakpoint-lg) {
   // 헤더
  #menu_navi {
    .menu_area {
      .wsizewrap {
          .wsize.desktop {
            #menu1, 
            #menu2, 
            #menu3, 
            #menu4, 
            #menu5 {
              margin-left: 5px;
              margin-right: 5px;
    
              padding: 40px 5px;
    
              line-height: 20px;
              @include Bold-16
            }
          }
        }
      }
    }
  
  // 검색창
  .gnb_search {
    width: 210px;
  }
  // 네비게이션 하위메뉴
  .smenu_area {
    .section {
      .gnb_cont {
        .gnb_cont-tit {
          @include Bold-18;
        }
      }
      .gnb {
        .gnb-flex {
          .gnb_padding {
            .gnb_margin {
              @include Medium-16;
            }
            .gnb_depth {
              li {
                a {
                  @include Regular-16;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 768px까지 작은 태블릿 화면
@media screen and (max-width:$breakpoint-md) {
  // 헤더
  // 로고크기변경
  #logo {
    &::before {
      width: 140px;
    }
  }
  // 검색창
  .gnb_search {
    width: 190px;
    .search_bar {

      @include Regular-13;

      &::placeholder {
        color: $Gray_C7;
        width: 100%;
      }
    }

    .search_btn {
      &::after {
        width: 20px;
        height: 20px;
      }
    }
  }

  #menu_navi {
    .menu_area {

      .mobile {
        display: none;
      }

      .wsizewrap {        
        .wsize.desktop {
          #menu1, 
          #menu2, 
          #menu3, 
          #menu4, 
          #menu5 {
            margin-left: 0px;
            margin-right: 0px;
    
            padding: 40px 5px 40px 5px;
    
            @include Bold-13;
          }
        }
      }
    }
  }

  // 풋터
  .sns {
    margin: 0 auto;
  }
  .copyright {
    p {
      @include Regular-13;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .ft-wrap {
    margin-top: 50px;
  }
  #footer {
    height: 100%;

    padding-top: 0;

    .copyright {
      padding-left: 5px;
      padding-right: 5px;
    }

    .inner {
      margin: 0 auto;

      .footer-mobile__wrapper {
        display: block;

        margin: 0 auto;
  
        width: 100%;
        height: 40px;
  
        border-top: 1px solid $Gray_BW ;
        border-bottom: 1px solid $Gray_BW ;
  
        margin-bottom: 10px;
        padding: 5px;
  
        .list {
          display: flex;
          align-items: center;
          justify-content: center;
  
          a {
            padding-left: 15px;
            color: $white;
            @include Regular-13;
  
            height: 100%;
          }
      
        }
      }

      .footer-nav {
        ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          padding: 0;

          li {
            width: 50%;
            text-align: center;

            display: flex;
            justify-content: center;

            padding-top: 10px;
            padding-bottom: 10px;

            border: 0.8px solid $Gray_BW;

            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(5),
            &:nth-of-type(7) {
              border-left: none;
            }

            &:nth-of-type(2),
            &:nth-of-type(4),
            &:nth-of-type(6),
            &:nth-of-type(8) {
              border-right: none;
            }

            &:nth-of-type(1),
            &:nth-of-type(2) {
              border-top: none;
            }

            a {
              margin: 0;

              @include Regular-13;
            }
          }
        }
      }
    }
  }
}

// 576px까지 모바일 화면
@media screen and (max-width:$breakpoint-sm) {
  #header {
    background: $primary;

    position: relative;
  }

  #logo {
    filter: drop-shadow(1.5px 1.5px 1px $Gray_C7);
  }

  .gnb_search {
    display: none;
  }

  #menu_navi {
    z-index: 10000;
    .menu_area {
      .mobile {
        display: flex;
      }

      .menu_area.mobile {
        display: flex;

      }

      .wsizewrap {
        width: calc(100% - 10px);
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;

        .wsize.mobile {
          background: $white;

          display: none;
          // display: flex;
          flex-direction: column;

          width: 100%;

          .head {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            height: 70px;

            .go-back {
              margin-right: auto;
              margin-left: 10px;

              &::after {
                display: block;
                content: '\f104';
                box-sizing: border-box;
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                width: 25px;
                height: 25px;
              }
            }
            .noti {
              margin-right: 10px;

              &::after {
                display: block;
                content: '\f0f3';
                box-sizing: border-box;
                font-family: "Font Awesome 6 Free";
                width: 25px;
                height: 25px;
              }
            }
            .setset {
              &::after {
                display: block;
                content: '\f013';
                box-sizing: border-box;
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                width: 25px;
                height: 25px;
              }

            }
          }
          .search {
            .finding {
              display: flex;
              justify-content: center;

              margin-left: 0;
              gap: 0;

              height: 50px;

              background: $primary;

              li {
                width: 100%;

                a {
                  color: $white;
                  display: flex;
                  align-items: center;
                }

                .doctor{
                  border-right: 1px solid $Gray_BW;

                  &::before {
                    display: block;
                    content: '\f0f0';
                    font-family: "Font Awesome 6 Free";
                    font-weight: 600;
  
                    padding-right: 5px;
                    width: 22px;
                    height: 22px;
                  }
                }

                .subject::before {
                  display: block;
                  content: '\f0f1';
                  font-family: "Font Awesome 6 Free";
                  font-weight: 600;

                  padding-right: 5px;

                  width: 22px;
                  height: 22px;
                }
              }
            }
          }
        }

        .wsize.desktop {

          background: $white;
          width: 100%;

          // display: flex;
          display: none;
          flex-direction: column;
          align-items: flex-start;
          align-content: flex-start;

          padding-top: 15px;
  
          #menu1, 
          #menu2, 
          #menu3, 
          #menu4, 
          #menu5 {
            width: 100%;
            height: 100%;

            background : $gray_F8;

            display: flex;
            justify-content: space-between;

            margin-bottom: 10px;
            padding: 20px 10px 20px 10px;

            @include SemiBold-20;

            &::after {
              display: block;
              content: '\f078';
              box-sizing: border-box;
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              width: 25px;
              height: 25px;
            }

            .smenu_area {
              box-shadow: none;

              .section {
                flex-direction: column;
                align-items: flex-start;

                .gnb_cont {
                  display: none;

                  .gnb_cont-tit {
                    display: flex;
                  }
                }

                .gnb {
                  width: 100%;
                  border: none;

                  flex-direction: column;
                  align-items: flex-start;

                  .gnb-flex {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .gnb_padding {
                      @include transparent-border-B($Gray_C7, 0.5);
                    }
                  }
                }
              }
            }
          }
        }        
      }
    }
  }
  
}

@import "_main", "_healthCare", "_reservation";