@import 'variables','mixins', 'fonts', 'resets';

// GNB

.depth1 {
    background: aqua;
    opacity: 90%;
}
.depth2 {
    background: pink;
    opacity: 90%;
}
.depth3 {
    background: lightgreen;
    opacity: 90%;
}
// Footer



@import 'main', 'healthCare', 'reservation';