@charset "UTF-8";
/* NOTO SANS KR */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  font-display: swap;
  src: local("NotoSansKR-Black"), url("fonts/notosansKR/NotoSansKR-Black.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Black.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  font-display: swap;
  src: local("NotoSansKR-Bold"), url("fonts/notosansKR/NotoSansKR-Bold.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Bold.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  font-display: swap;
  src: local("NotoSansKR-Medium"), url("fonts/notosansKR/NotoSansKR-Medium.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Medium.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-display: swap;
  src: local("NotoSansKR-Regular"), url("fonts/notosansKR/NotoSansKR-Regular.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Regular.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  font-display: swap;
  src: local("NotoSansKR-Light"), url("fonts/notosansKR/NotoSansKR-Light.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Light.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  font-display: swap;
  src: local("NotoSansKR-Thin"), url("fonts/notosansKR/NotoSansKR-Thin.woff2") format("woff2"), url("fonts/notosansKR/NotoSansKR-Thin.woff") format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #222;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #222;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.slide-intro {
  width: 100%;
  height: 100%;
}
.slide-intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .servicebox_wrapper {
  max-width: 1280px;
}
section .servicebox_wrapper .servicebox {
  width: 304px;
  height: 300px;
}
section .servicebox_wrapper .servicebox1 {
  background-color: #0054d1;
}
section .servicebox_wrapper .servicebox2 {
  background-color: #007cfb;
}
section .servicebox_wrapper .servicebox3 {
  background-color: #0094fb;
}
section .servicebox_wrapper .servicebox4 {
  background-color: #fff;
  display: block;
}

.notice-wrapper {
  background: #0B50A1;
  width: 100%;
  height: 390px;
}
.notice-wrapper .slide-notice .swiper-slide {
  background: #fff;
  width: 300px;
  height: 260px;
}

body {
  background: url(../images/healthCarePage_images/healthcare_img.png) no-repeat;
}

.header-width {
  height: 100px;
  background: rgba(199, 199, 199, 0.5);
}

#main {
  max-width: 1280px;
  margin: 0 auto;
}

.healthcare-wrap {
  display: flex;
}

#header {
  width: 100%;
  position: relative;
}
#header .inner {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  height: 100px;
  position: relative;
}
#header .inner #logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gnb .gnb-wrap {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gnb .gnb_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidemenubar {
  background: #fff;
  width: 237px;
  height: 3248px;
  padding-top: 147px;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
}
.sidemenubar .sec-tit {
  color: #003d7d;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  padding-left: 104px;
  padding-bottom: 22px;
}

.menu-box {
  width: 237px;
  height: 56px;
  border: 0.8px solid #C7C7C7;
}
.menu-box a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 100%;
  padding-top: 15px;
  padding-right: 34px;
  text-align: right;
  display: block;
}

.menu-box-bg {
  background: #0B50A1;
}
.menu-box-bg a {
  color: #fff;
}

.menu-box-sub {
  width: 237px;
  height: 319px;
  padding: 28px 0;
  text-align: right;
  background: #f9fafb;
}
.menu-box-sub li {
  height: 35px;
}
.menu-box-sub a {
  height: 100%;
  padding-right: 40px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.bnr-container {
  width: 198px;
  height: 356px;
  margin: 20px auto;
}
.bnr-container img {
  width: 100%;
  height: auto;
}

.depth1 {
  display: flex;
}

.depth2,
.depth3 {
  display: none;
}

#footer {
  width: 100%;
  height: 200px;
}

.slide-intro {
  width: 100%;
  height: 100%;
}
.slide-intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .servicebox_wrapper {
  max-width: 1280px;
}
section .servicebox_wrapper .servicebox {
  width: 304px;
  height: 300px;
}
section .servicebox_wrapper .servicebox1 {
  background-color: #0054d1;
}
section .servicebox_wrapper .servicebox2 {
  background-color: #007cfb;
}
section .servicebox_wrapper .servicebox3 {
  background-color: #0094fb;
}
section .servicebox_wrapper .servicebox4 {
  background-color: #fff;
  display: block;
}

.notice-wrapper {
  background: #0B50A1;
  width: 100%;
  height: 390px;
}
.notice-wrapper .slide-notice .swiper-slide {
  background: #fff;
  width: 300px;
  height: 260px;
}

body {
  background: url(../images/healthCarePage_images/healthcare_img.png) no-repeat;
}

.header-width {
  height: 100px;
  background: rgba(199, 199, 199, 0.5);
}

#main {
  max-width: 1280px;
  margin: 0 auto;
}

.healthcare-wrap {
  display: flex;
}

#header {
  width: 100%;
  position: relative;
}
#header .inner {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  height: 100px;
  position: relative;
}
#header .inner #logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#gnb .gnb-wrap {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gnb .gnb_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidemenubar {
  background: #fff;
  width: 237px;
  height: 3248px;
  padding-top: 147px;
  border-left: 1px solid #C7C7C7;
  border-right: 1px solid #C7C7C7;
}
.sidemenubar .sec-tit {
  color: #003d7d;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  padding-left: 104px;
  padding-bottom: 22px;
}

.menu-box {
  width: 237px;
  height: 56px;
  border: 0.8px solid #C7C7C7;
}
.menu-box a {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 100%;
  padding-top: 15px;
  padding-right: 34px;
  text-align: right;
  display: block;
}

.menu-box-bg {
  background: #0B50A1;
}
.menu-box-bg a {
  color: #fff;
}

.menu-box-sub {
  width: 237px;
  height: 319px;
  padding: 28px 0;
  text-align: right;
  background: #f9fafb;
}
.menu-box-sub li {
  height: 35px;
}
.menu-box-sub a {
  height: 100%;
  padding-right: 40px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.bnr-container {
  width: 198px;
  height: 356px;
  margin: 20px auto;
}
.bnr-container img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=comm.css.map */